@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Otomanopee One', sans-serif;

}
a{text-decoration: none;}
ul li{
    list-style: none;
}
.container{
max-width: 1300px;
    margin: auto;
    padding: 0 50px;
}
.header{width: 100%;
height: 100vh;}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo img{
    width: 90px;
}
nav ul li{
    display: inline-block;
    padding: 25px;
}
nav ul li a {
    color: #422;

}
nav{margin-right: 35%;}

/*row*/
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col2{flex-basis: 50%;}
.container .box{width: 500px;
height: 500px;
margin-top: -60px;
position: relative;}
.container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
}
.container .box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}